<?xml version="1.0"?>
<!--
/*
 * @package    SussexDev_MultiStepModal
 * @copyright  Copyright (c) 2019 Scott Parsons
 * @license    https://github.com/ScottParsons/module-multistepmodal/blob/master/LICENSE.md
 * @version    1.0.1
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="multistepmodal" frontName="multistepmodal">
            <module name="SussexDev_MultiStepModal" />
        </route>
    </router>
</config>
